#home-main-container {
    width: 100%;
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-main-container-header {
    display: flex;
    align-items: center;
}

#home-main-container-header figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#home-main-container-header figure img {
    border-radius: 50%;
    width: 60%;
}

#home-main-container-right-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}

#home-main-container-right-content-resume {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#home-main-container-right-content-resume>button {
    outline: none;
    border: none;
    width: 20%;
    border-radius: 8px;
    font-size: 18px;
    padding: 1.5% 0;
}

#home-main-container-right-content-resume>button>a {
    color: black;
}

#home-main-container-right-content-resume-social {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#home-main-container-right-content-resume-social div {
    background-color: rgba(202, 202, 202, 0.445);
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

#home-main-container-right-content-resume-social div:hover {
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
}

#home-main-container-right-content-resume-social div>* {
    color: white;
}

#work-experience {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

@media (max-width: 1300px) {
    #home-main-container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #home-main-container-right-content-resume-social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home-main-container-right-content {
        width: 90%;
    }

    #home-main-container-header>figure {
        margin-bottom: 5%;
    }
}

@media (max-width: 600px) {
    #home-main-container-header>figure {
        width: 90%;
        margin-bottom: 5%;
    }

    #home-main-container-right-content-resume {
        width: 100%;
        display: flex;
    }

    #home-main-container-right-content-resume>button {
        width: 40%;
        font-size: 15px;
        height: 45px;
    }
}

@media (max-width: 400px) {
    #home-main-container-right-content>h1 {
        font-size: 18px;
    }

    #home-main-container-right-content>p {
        font-size: 12px;
        padding: 0 5%;
    }

    #work-experience {
        display: flex;
        justify-content: center;
    }

    #work-experience>h3 {
        font-size: 13px;
    }

    #work-experience>p {
        font-size: 12px;
    }

    #home-main-container-right-content-resume {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #home-main-container-right-content-resume>button {
        width: 90%;
    }

    #home-main-container-right-content-resume-social {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }
}

@media (max-width: 380px) {}